{% load static %}

<!-- FOOTER -->
<div class="footer-basic"></div>
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'InlineSpeedSkates_Home' %}"><b>Home</b></a></li>
            <li class="list-inline-item"><a href="#"><b>About</b></a></li>
            <li class="list-inline-item"><a href="#"><b>Terms</b></a></li>
            <li class="list-inline-item"><a href="#"><b>Privacy Policy</b></a></li>
        </ul>
    <p class="copyright"><b>Inline Revolutions, Inc. © 2021</b></p>
</div>
<!-- /FOOTER -->